// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
body {
	>header {
		h1 {
			text-shadow: 2px 2px 0px rgba(0,0,0,0.2);

			-webkit-transition: all 0.2s ease;
			-moz-transition: all 0.2s ease;
			-o-transition: all 0.2s ease;
			transition: all 0.2s ease
		}

		h1:hover {
			text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
		}

		h2 {
			color: rgba(0,0,0,0.6);
            text-transform: uppercase;
		}

		border-top: 5px $title-color solid;
		//border-bottom: 8px solid rgba(40, 40, 40, .1);
		// background: -moz-linear-gradient(top, #fff 0%, #fff 95%, #eee 100%);
		// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(95%,#fff), color-stop(100%,#eee));
		// background: -webkit-linear-gradient(top, #fff 0%,#fff 95%,#eee 100%);
		// background: -o-linear-gradient(top, #fff 0%,#fff 95%,#eee 100%);
		// background: -ms-linear-gradient(top, #fff 0%,#fff 95%,#eee 100%);
		// background: linear-gradient(top, #fff 0%,#fff 95%,#eee 100%);
	}

	>nav {
		background: white;
		border-top: 1px rgba(40, 40, 40, .1) solid;
		border-bottom: 1px #aeaeae solid;
		border-bottom-left-radius: 0.8em;
		border-bottom-right-radius: 0.8em;
		margin-bottom: 1.6em;		
	}

	>#main {

		border-top: 8px solid rgba(40, 40, 40, .1); //5px $title-color solid;
		// border-top: 1px #aeaeae solid;
		// border-top-left-radius: 0.8em;
		// border-top-right-radius: 0.8em;

		>#content {
			border-top-left-radius: inherit;

			article {
				header {
					h1 {
						color: $secondary-color;
					}
				}

				a {
					color: $secondary-color;
					font-weight: bold;
				}
			}
		}
	}
}

.footnotes {
  font-size: 13px;
  line-height: 16px;
  color: #666;

  p {
    margin-bottom: 6px;
  }
}

.social-icons {
	float: right;
	li {
		border: 0;
		color: #b4b4b4;

		a {
			padding: 0;
			line-height: inherit;
			font-size: 1.7em;

			webkit-transition: all ease 0.3s;
			-moz-transition: all ease 0.3s;
			-o-transition: all ease 0.3s;
			-ms-transition: all ease 0.3s;
			transition: all ease 0.3s;
		}

		a:hover {
			color: $secondary-color;

			//-webkit-transform:rotate(360deg);
			//-moz-transform:rotate(360deg);
			//-o-transform:rotate(360deg);
			//-ms-transform:rotate(360deg);
			//transform:rotate(360deg);


			text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
		}
	}
}